* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: white;
}

/* Re-engineering my design */
.big-grid-container {
  height: 6250px;
  width: 100%;
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 92px 600px 830px 1400px 1400px 1250px 1800px 1000px;
  padding: 120px 24px 120px 24px;
  justify-content: center;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  height: 60px;
  width: 375px;
  background-color: #3c3a39;
}

#bars {
  position: relative;
  right: 10%;
  margin-top: 15px;
  padding-right: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 3px;
  margin: 3px 0;
  background-color: white;
  margin-right: 20px;
}

.list_lang li {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  list-style: none;
  text-align: center;
}

.li-first-child li {
  position: relative;
  top: 50px;
  left: 45px;
  display: flex;
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 44px;
  height: 90px;
}

#navLinks ul li {
  display: none;
}

.content_1 ul li a {
  display: block;
  color: #fff;
  background: #777;
}

#profileName a {
  position: relative;
  left: 10px;
  top: 20px;
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.greetText {
  width: 327px;
  height: 124px;
  left: 24px;
  top: 110px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.flex-b {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  position: absolute;
  width: 100%;
  margin-right: 0;
  height: 590px;
  letter-spacing: 0;
  top: 55px;
  left: 0;
  background: #1c1a19;
  overflow: hidden;
}

.jobTitle {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
}

#description {
  position: static;
  width: 270px;
  height: 123px;
  left: 24px;
  top: 340px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

.icon {
  position: absolute;
  width: 200px;
  height: 27px;
  left: 30px;
  top: 450px;
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

.fa {
  color: #dbd8d7;
}

/* Style background image of first page */

.first-bg-image {
  background-image: url(./image/backgroung-image-page1.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 406.89px;
  height: 312.03px;
  left: 230px;
  top: 250px;
}

.flex-c {
  display: flex;
  position: absolute;
  top: 692px;
  height: 830px;
  width: 375px;
  padding-left: 24px;
}

.flex-d {
  position: absolute;
  top: 1420px;
  height: 1400px;
  width: 375px;
}

.flex-e {
  position: absolute;
  top: 2660px;
  height: 1250px;
  width: 100%;
}

.flex-f {
  position: absolute;
  height: 1800px;
  min-width: 100%;
  top: 3902px;
  left: 0;
  display: flex;
  padding-top: 50px;
  background-color: #1c1a19;
  overflow: hidden;
}

.flex-g {
  height: 1000px;
  width: 375px;
  position: absolute;
  top: 5700px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 24px;
  background-color: white;
  overflow: hidden;
}

.img01 {
  width: 320px;
  height: 225px;
  background-image: url(./image/img_01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 315px auto;
  position: absolute;
  top: 200px;
  left: 24px;
}

#topic {
  position: absolute;
  top: 70px;
  left: 30px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 52px;
  color: #1c1a19;
}

hr {
  position: relative;
  top: 20px;
  left: 10px;
}

.project-row1 {
  position: relative;
  top: 345px;
}

#story {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  margin-top: 10px;
}

#story-text {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: 10px;
  padding-right: 24px;
}

/* style the lang links */

.html,
.bootstrap,
.ruby,
.css {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  padding: 10px 12px;
  border: 1px solid #8993a4;
}

/* style css link */
.css {
  width: 50px;
  height: 40px;
}

/* html link */
.html {
  width: 56px;
  height: 40px;
}

/* bootstrap link */

.bootstrap {
  width: 95px;
  height: 40px;
}

/* ruby */

.ruby {
  width: 61px;
  height: 40px;
}

.project-link {
  width: 280px;
  height: 56px;
  position: relative;
  top: 15px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-row1 .html,
.project-row1 .bootstrap,
.project-row1 .ruby,
.project-row1 .css {
  background-color: #fff;
  color: #091e42;
  opacity: 1;
}

.content_1 .project-link {
  width: 250px;
  top: 120px;
  left: 14px;
}

.content-flex {
  width: 357px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img04 {
  height: 386px;
  min-width: 327px;
  background-image: url(./image/img_4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.goto_project {
  position: absolute;
  top: 270px;
  min-width: 124px;
  height: 48px;
  background: #c25100;
  align-items: center;
  padding: 12px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
}

/* style content text and see project button */

.title-post {
  position: relative;
  top: 80px;
  height: 81px;
  width: 295px;
  left: 16px;
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.supporting-text {
  position: relative;
  top: 95px;
  height: 87px;
  width: 250px;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.content_1 .goto_project {
  min-width: 327px;
  position: relative;
  top: 140px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  padding-left: 110px;
}

/* about_img */
.about_me {
  width: 375px;
  height: 1400px;
  padding-left: 24px;
}

#about_img {
  position: absolute;
  width: 480px;
  height: 200px;
  left: 150px;
  top: 500px;
}

#about-title {
  position: relative;
  width: 327px;
  height: 56px;
  left: 10px;
  top: 75px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.get-my-resume {
  width: 200px;
  height: 45px;
  position: relative;
  top: 150px;
  left: 10px;
  padding: 10px;
  background: #c25100;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}

#about-text {
  position: relative;
  width: 289px;
  height: 148px;
  left: 10px;
  top: 110px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

#about-hr {
  width: 320px;
  height: 0;
  color: white;
  position: absolute;
  top: 720px;
  left: 24px;
}

.lang-img-icon {
  width: 20px;
  height: 20px;
}

.list_lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: absolute;
  width: 375px;
  height: 900px;
  left: 80px;
  top: 790px;
}

.form_section {
  background-color: #eee;
}

/* Add Transition effect to form submit button */
.button {
  transition: all 0.4s ease-in-out;
}

.button:hover {
  transform: scale(1.5);
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

/* Create Button Interactions */

/* on hover */
.goto_project:hover,
.get-my-resume:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  box-sizing: border-box;
  color: #f55800;
}

/* on hover display disable-feacture */
.css:hover,
.html:hover,
.bootstrap:hover,
.ruby:hover {
  opacity: 0.6;
  cursor: not-allowed;
  border: 1px solid rgb(26, 115, 204);
}

/* on button press */
.goto_project:active,
.get-my-resume:active,
.button:active {
  background-color: #2d627a;
}

/* style contact form */

#intrest-text {
  width: 320px;
  height: 216px;
  position: absolute;
  top: 80px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
}

.flex {
  width: 375px;
  height: 430px;
  padding: 20px 24px;
  position: absolute;
  top: 360px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Add more contrast to placeholder text */
::placeholder {
  color: #746d6d;
  opacity: 1; /* firefox */
  font-size: 16px;
}

input {
  height: 50px;
  width: 327px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #979493;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  color: #172b4d;
  margin: 15px 0;
}

button[type=submit] {
  position: static;
  width: 131px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #c25100;
  color: #fff;
  border: none;
  margin: 24px 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

textarea {
  color: #2c2c2c;
  background: #fbf8f7;
  margin-top: 20px;
  height: 150px;
  width: 327px;
  border-radius: 0;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  padding: 8px;
}

#footer-ruler {
  position: absolute;
  top: 900px;
  left: 0;
  width: 375px;
  height: 2px;
  color: black;
}

#foot-social-icons {
  position: relative;
  top: 420px;
  padding-left: 50px;
  width: 300px;
  height: 30px;
  flex-direction: row;
  justify-content: space-between;
}

#foot-social-icons img {
  width: 23px;
  height: 23px;
}

#footer-bar {
  position: relative;
  width: 134px;
  height: 5px;
  left: 100px;
  top: 450px;
  background: #0d151e;
  border-radius: 10px;
}

/* Hidden feature on smaller screen */
#desktop-nav {
  display: none;
}

@media (min-width: 992px) {
  body {
    width: 100%;
  }

  .big-grid-container {
    height: 4650px;
    min-width: 100%;
    position: relative;
    grid-template-columns: 1500px;
    grid-template-rows: 92px 600px 830px 1400px 1400px 1250px 500px 1000px;
  }

  /* Hide bg- */
  .first-bg-image {
    display: none;
  }

  #navbar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: #3d3c3c;
    padding: 0 0 50px 0;
    color: white;
    text-align: center;
    align-items: center;
    z-index: 1;
  }

  #desktop-nav {
    position: relative;
    right: 100px;
    display: flex;
    flex-direction: row;
    top: 40px;
    padding-bottom: 30px;
    width: 400px;
    font-size: 25px;
    justify-content: space-between;
  }

  #profileName a {
    font-size: 27px;
    height: 85px;
    right: -150px;
    bottom: 50px;
    font-weight: 500;
    padding-left: 50px;
  }

  #desktop-nav li a {
    text-decoration: none;
    color: white;
  }

  #bars {
    display: none;
  }

  #img-first {
    background-image: url(./image/first_img.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 1003px;
    height: 769px;
    left: 685px;
    top: 0;
  }

  .first-page {
    padding: 50px 0 0 143px;
  }

  .greetText {
    position: static;
    width: 566px;
    left: 0;
    font-size: 72px;
    line-height: 81px;
  }

  .jobTitle {
    height: 55px;
    display: flex;
    padding: 70px 0 20px 0;
    width: 566px;
    font-weight: 500;
    font-size: 35px;
    font-family: inherit;
    line-height: 44px;
    align-items: center;
  }

  #description {
    width: 500px;
    font-size: 19px;
    line-height: 24px;
  }

  .icon {
    float: left;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    padding-left: 20px;
    position: absolute;
    top: 200px;
  }

  .flex-c {
    width: 1200px;
  }

  .flex-row {
    display: flex;
    width: 900px;
    height: 410px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #topic {
    position: absolute;
    top: 70px;
    left: 30px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 52px;
    color: #1c1a19;
  }

  hr {
    position: relative;
    top: -26px;
    left: 310px;
    width: 700px;
  }

  .img01 {
    width: 684px;
    height: 448px;
    background-image: url(./image/img_01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 684px auto;
    position: absolute;
    top: 200px;
    left: 24px;
  }

  .project-row1 {
    position: relative;
    top: 200px;
    left: 460px;
  }

  .img_01 {
    background-image: url(./image/img_1.png);
  }

  .img_02 {
    background-image: url(./image/img_2.png);
  }

  .img_03 {
    background-image: url(./image/img_3.png);
  }

  .img_01 .title-post,
  .img_01 .supporting-text,
  .img_01 .project-link {
    display: none;
  }

  .img_01 .goto_project {
    top: 363.5px;
  }

  .flex-d {
    width: 1200px;
    left: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }

  .flex-e {
    width: 1300px;
    position: relative;
    top: 1700px;
    display: flex;
    justify-content: space-between;
    padding: 24px 80px 0 80px;
    left: 100px;
  }

  @media (max-width: 1200px) {
    #bars {
      display: none;
    }

    .flex-e {
      width: 1300px;
      left: 230px;
    }
  }

  .flex-f {
    height: 1400px;
  }

  /* About me Section */
  .about_me_grid {
    position: relative;
    top: 1600px;
    padding: 70px 0 0 70px;
  }

  .list_lang {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 800px;
    left: 300px;
    top: 750px;
    height: 900px;
  }

  .list_lang li {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    text-align: left;
  }

  .li-first-child li {
    top: 10px;
    left: 0;
    font-size: 32px;
    line-height: 50px;
  }

  .lang-img-icon {
    position: relative;
    right: 10px;
    width: 30px;
    height: 30px;
  }

  #about_img {
    position: absolute;
    width: 672px;
    height: 352px;
    left: 850px;
    top: 150px;
  }

  #about-hr {
    width: 1200px;
    top: 630px;
    left: 150px;
  }

  #about-title {
    position: relative;
    width: 566px;
    height: 78px;
    top: 75px;
    left: 150px;
    font-size: 72px;
    line-height: 82px;
  }

  #about-text {
    position: relative;
    width: 566px;
    height: 148px;
    left: 150px;
    top: 110px;
    font-size: 20px;
    line-height: 32px;
  }

  .get-my-resume {
    left: 150px;
  }

  /* Contact Form Section */
  .flex-g {
    height: 850px;
    top: 3800px;
    left: 0;
    width: 100%;
    justify-content: center;
  }

  .flex {
    width: 375px;
    height: 430px;
    top: 105px;
    left: 550px;
  }

  #intrest-text {
    width: 455px;
    height: 256px;
    top: 120px;
    left: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  input {
    height: 60px;
    width: 450px;
    font-size: 22px;
  }

  textarea {
    width: 450px;
    font-size: 18px;
  }

  button[type=submit] {
    position: static;
    margin-left: 65px;
  }

  #footer-bar {
    display: none;
  }

  #footer-ruler {
    top: 750px;
    width: 1500px;
  }

  #foot-social-icons {
    position: relative;
    top: 360px;
    padding-left: 0;
    width: 300px;
    height: 30px;
  }

  #foot-social-icons img {
    width: 23px;
    height: 23px;
  }
}
